lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log

# Project specific stuff
.idea
npm-debug.log
node_modules

# Ignore compiled coffeescript in src
src/*.js
util/*.js